*~
*.backup
enrico/thesis.pdf

#ringraziamenti
francesco/beginningEnding/acknowledgments.tex
#documento completo
francesco/thesis.pdf


#Files temporanei generati durante la compilazione .tex
*.aux
*.idx
*.lof
*.log
*.out
*.toc
*.bbl
*.blg
*.brf

